main {
    width: 100%;
    height: 100%;
}

.reviewsContainer {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px 500px;
}

.review {
    text-align: center;
    width: 425px;
    height: auto;
    border: 1px solid black;
    background-color: antiquewhite;
    padding: 10px;
}