* {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.header {
  background-color: antiquewhite;
  padding: 10px 0;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

main {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #faa65c;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

main .container {
  justify-items: center;
}

.collapse-product {
  display: flex;
  align-items: center;
  height: 500px;
}

.reviews-container h2 {
  margin-bottom: 1.5rem;
}

.reviewsContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: 500px 500px 500px;
}

.review {
  text-align: center;
  width: 400px;
  height: auto;
  border: 1px solid black;
  background-color: antiquewhite;
  padding: 10px;
  display: grid;
  justify-items: center;
  gap: 2rem;
  border-radius: 15px;
  transition: transform 0.4s;
}

.review img {
  border-radius: 50%;
}

.review:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.custom-popover {
  --bs-popover-max-width: 250px !important;
  --bs-popover-border-color: black !important;
  --bs-popover-header-bg: antiquewhite !important;
  --bs-popover-header-color: black !important;
  --bs-popover-body-padding-x: 1rem !important;
  --bs-popover-body-padding-y: 0.5rem !important;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 3%;
  background-color: antiquewhite;
}

.icon-container a {
  text-decoration: none;
}

.icon-container a svg {
  cursor: pointer;
  fill: black;
  transition: fill 0.3s ease;
}

.icon-container .bi-github:hover {
  fill: #696969;
}

.icon-container .bi-youtube:hover {
  fill: #ff0000;
}

.collapse-product p .btn {
  border: 1px solid black;
  transition: all 0.5s ease-in-out;
}

.collapse-product p .btn:hover {
  background-color: antiquewhite;
}

.card {
  margin-bottom: 3rem;
  margin-top: 1rem;
  background-color: antiquewhite !important;
  border: 2px solid black !important;
}

.col-md-8 {
  border-left: 1px solid rgba(82, 82, 82, 0.8);
}

.card-body p {
  font-size: 18px;
}

#cardCollapse.show + #initialText {
  visibility: hidden;
  display: none;
}

video {
  border-radius: 15px;
  margin-top: 20px;
}

@media (max-width: 1500px) {
  .reviewsContainer {
    grid-template-columns: 400px 400px 400px;
  }

  .review {
    width: 300px;
  }

  .review h3 {
    font-size: 16px;
  }

  .review p {
    font-size: 14px;
  }
}

@media (max-width: 1125px) {
  .reviewsContainer {
    grid-template-columns: 275px 275px 275px;
  }

  .review {
    width: 250px;
  }

  .review img {
    width: 100px;
    height: 100px;
  }

  .review h3 {
    font-size: 14px;
  }

  .review p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .col-md-8 {
    border-top: 1px solid rgba(82, 82, 82, 0.8);
    border-left: none;
  }

  .reviewsContainer {
    grid-template-columns: 1fr;
  }

  video {
    width: 350px;
    height: 500;
  }
}
